<a href="/homepage">Homepage</a> <br>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if user.is_authenticated %}
<a href="/inbox">Inbox</a>
<form action="" method="post">
    {% csrf_token %}
    <ul class="compose">
        <li id="recipient" class="message">Recipient{{ form.recipient }}</li>
        <li id="subject" class="message">Subject{{ form.subject }}</li>
        <li id="message" class="message">Message{{ form.message }}</li>
        <li id="file" class="message">Attach File:{{ form.file }}</li>
    </ul>
    <input id=submitb type="submit" value="Submit">
</form>
{% endif %}
